@charset "UTF-8";

/*notice table*/


.notice_title {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
.notice_table {
	width:500px;
	margin: 0 auto;
	border-spacing: 0px;
	border-collapse: collapse;
}
.notice_table th {
	border: 1.5px black solid;
}
.notice_table th:nth-of-type(1) {
	width:100px;
}
.notice_table th:nth-of-type(2) {
	width:300px;
}
.notice_table th:nth-of-type(3) {
	width:100px;
}
.notice_table td {
	border: 1px black solid;
}

/* bankbook table */

.bankbook_table {
	width:100%;
	border-spacing: 0px;
	border-collapse: collapse;
}
.bankbook_table thead {
	background-color: #caf0ff;
	height: 50px;
}
.bankbook_table th, .bankbook_table td {
	border: 1px solid #98bdcc;
	border-collapse: collapse;
	height: 30px;
}
.bankbook_table th:nth-of-type(1) {
	width:100px;
}
.bankbook_table th:nth-of-type(2) {
	width:300px;
}
.bankbook_table th:nth-of-type(3) {
	width:100px;
}
.bankbook_table th:nth-of-type(4) {
	width:100px;
}

